<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="cn.wukq">
        <context:exclude-filter expression="org.springframework.stereotype.Controller" type="annotation"/>
    </context:component-scan>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:spring-config.properties"/>
    </bean>

    <bean id="rateLimiterLua" class="org.springframework.data.redis.core.script.DefaultRedisScript">
        <property name="location" value="classpath:rate_limiter.lua"/>
        <property name="resultType" value="java.lang.Long"/>
    </bean>

    <bean id="rateLimiterRedisClient" class="cn.wukq.ratelimiter.client.RedisClient">
        <property name="hostName" value="${redis.host.user.rateLimiter}"/>
        <property name="port" value="${redis.port.user.rateLimiter}"/>
        <property name="database" value="${redis.database.user.rateLimiter}"/>
    </bean>

</beans>